body {
    font-family: sans-serif;
}

.question_head {
    height: 100px;
}

#guidance_container {
    height: 140px;
    display:block;
    clear: both;
}

#guidance {
    padding: 20px;
}

#stars {
        font-size: 50px;
        padding: 10px 0;
}

#stars a {
    margin-left: 20px;
    width: 50px;
}

.no-stars {
    color: #6a92b5;
}

